<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Confrim Reservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    {% load static %}
    {% load filters %}

    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


    <div>
      <link href="{% static 'reserve2.css' %}" rel="stylesheet" />

      <div class="reserve2-container">
        <div class="reserve2-reserve2">
          <span class="reserve2-text"><span>Reserve</span></span>
          <div class="reserve2-footer">
            <img
              alt="ucilogo23871"
              src="{% static 'ucilogo23871-m9y-200h.png' %}"
              class="reserve2-ucilogo2"
            />
            <img
              alt="UCIprimarylogoprintblue13871"
              src="{% static 'uciprimarylogoprintblue13871-9njo-200h.png' %}"
              class="reserve2-u-iprimarylogoprintblue1"
            />
            <span class="reserve2-text002"><span>Roomie</span></span>
            <span class="reserve2-text004">
              <span>
                <span>University of California, Irvine</span>
                <br />
                <span>CA 92697</span>
                <br />
                <span>(949) 824-5011</span>
                <br />
                <span></span>
                <br />
                <span></span>
              </span>
            </span>
            <img
              alt="Line23871"
              src="{% static 'line23871-6ecr.svg' %}"
              class="reserve2-line2"
            />
            <span class="reserve2-text015">
              <span class="reserve2-text016">Disclaimer:</span>
              <span>
                This web page is not an official UCI web page. It is a project
                from the 2023 VenusHacks hackathon. No harm to UCI and its
                affiliates were intended in the creation of this website.
              </span>
            </span>
            <span class="reserve2-text018">
              <span class="reserve2-text019">
                <span>UCI Libraries</span>
                <br />
                <span></span>
              </span>
              <span>Hours of different libraries will vary</span>
            </span>
          </div>
          <div class="reserve2-navbarreserve2">
            <div class="reserve2-user">
              <div class="reserve2-vuesaxlinearuser">
                <div class="reserve2-user1">
                  <img
                    alt="VectorI387"
                    src="{% static 'vectori387-w3p.svg' %}"
                    class="reserve2-vector"
                  />
                  <img
                    alt="VectorI387"
                    src="{% static 'vectori387-txsb.svg' %}"
                    class="reserve2-vector1"
                  />
                  <a href="{% url 'account' %}" class="reserve2-navlink">
                    <img alt="VectorI387" src="" class="reserve2-vector2" />
                  </a>
                </div>
              </div>
            </div>
            <div class="reserve2-navbaricon">
              <a href="{% url 'home' %}" class="reserve2-navlink1">
                <div class="reserve2-logo-home">
                  <img
                    alt="UCIprimarylogoprintblue13871"
                    src="{% static 'uciprimarylogoprintblue13871-pddf-200h.png' %}"
                    class="reserve2-u-iprimarylogoprintblue11"
                  />
                  <span class="reserve2-text024"><span>Roomie</span></span>
                </div>
              </a>
            </div>
            <a href="{% url 'reserve' %}" class="reserve2-text026">
              <span>Reserve</span>
            </a>
            <a href="/my-rooms/{{user}}/" class="reserve2-text028">
              <span>My Rooms</span>
            </a>
            <a href="{% url 'about' %}" class="reserve2-text030"><span>About</span></a>
            <img
              alt="Line33871"
              src="{% static 'line33871-ex.svg' %}"
              class="reserve2-line3"
            />
          </div>
          <span class="reserve2-text032">
            <span>{{message}}</span>
          </span>
          <div class="reserve2-selectroom">
            <img
              alt="SL17213871"
              src="{% static room.image %}"
              class="reserve2-sl1721 container"
            />
            <span class="reserve2-text034">
              <span>{{room.location}} {{room.room_number}} (Capacity: {{room.room_size}} )</span>
            </span>
          </div>
          <div class="reserve2-room-selection">
            <span class="reserve2-text036 HeadingsH2-Bold44">
              <span>Select a date:</span>
            </span>
          </div>
          <div class="reserve2-calendar-condensed">
            <div class="reserve2-group19">
              <img
                alt="Divider3871"
                src="{% static 'divider3871-nkke.svg' %}"
                class="reserve2-divider"
              />
              
              <div class="reserve2-day05">
                <span class="reserve2-text051"><span>Mo</span></span>
              </div>

              <div class="reserve2-day">
                <span class="reserve2-text042">{% with mon|index:0 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>
              <div class="reserve2-day01">
                <span class="reserve2-text043"><span>{% with mon|index:1 as my_item %}
                  {{ my_item }}
                {% endwith %}</span></span>
              </div>


              <div class="reserve2-day06">
                <span class="reserve2-text053"><span>Tu</span></span>
              </div>

              <div class="reserve2-day12">
                <span class="reserve2-text065">{% with tue|index:0 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>
              <div class="reserve2-day13">
                <span class="reserve2-text066"><span>{% with tue|index:1 as my_item %}
                  {{ my_item }}
                {% endwith %}</span></span>
              </div>


              <div class="reserve2-day07">
                <span class="reserve2-text055"><span>We</span></span>
              </div>

              <div class="reserve2-day16">
                <span class="reserve2-text072">{% with wed|index:0 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>
              <div class="reserve2-day17">
                <span class="reserve2-text073"><span>{% with wed|index:1 as my_item %}
                  {{ my_item }}
                {% endwith %}</span></span>
              </div>


              <div class="reserve2-day08">
                <span class="reserve2-text057"><span>Th</span></span>
              </div>

              <div class="reserve2-day20">
                <span class="reserve2-text079">{% with thu|index:0 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>
              <div class="reserve2-day21">
                <span class="reserve2-text080"><span>{% with thu|index:1 as my_item %}
                  {{ my_item }}
                {% endwith %}</span></span>
              </div>


              <div class="reserve2-day09">
                <span class="reserve2-text059"><span>Fr</span></span>
              </div>

              <div class="reserve2-day24">
                <span class="reserve2-text086">{% with fri|index:0 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>
              <div class="reserve2-day25">
                <span class="reserve2-text087"><span>{% with fri|index:1 as my_item %}
                  {{ my_item }}
                {% endwith %}</span></span>
              </div>


              <div class="reserve2-day10">
                <span class="reserve2-text061"><span>Sa</span></span>
              </div>

              <div class="reserve2-day28">
                <span class="reserve2-text093">{% with sat|index:0 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>
              <div class="reserve2-day29">
                <span class="reserve2-text094">{% with sat|index:1 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>


              <div class="reserve2-day11">
                <span class="reserve2-text063"><span>Su</span></span>
              </div>

              <div class="reserve2-day33">
                <span class="reserve2-text101">{% with sun|index:0 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>
              <div class="reserve2-day34">
                <span class="reserve2-text102">{% with sun|index:1 as my_item %}
                  {{ my_item }}
                {% endwith %}</span>
              </div>


              <div class="reserve2-month">
                <div class="reserve2-group18">
                  <div class="reserve2-day38">
                    <span class="reserve2-text109"><span>{{ header }}</span></span>
                  </div>
                  <img
                    alt="Arrows3871"
                    src="{% static 'arrows3871-mxr.svg' %}"
                    class="reserve2-arrows"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="reserve2-time-slot">
            <img
              alt="Line73881"
              src="{% static 'line73881-kz1.svg' %}"
              class="reserve2-line7"
            />
            <img
              alt="Line93881"
              src="{% static 'line93881-6lm.svg' %}"
              class="reserve2-line9"
            />
            <img
              alt="Line103881"
              src="{% static 'line103881-mzh.svg' %}"
              class="reserve2-line10"
            />
            <img
              alt="Line113881"
              src="{% static 'line113881-udpi.svg' %}"
              class="reserve2-line11"
            />
            <img
              alt="Line123881"
              src="{% static 'line123881-unxl.svg' %}"
              class="reserve2-line12"
            />
            <img
              alt="Line133881"
              src="{% static 'line133881-gh16.svg' %}"
              class="reserve2-line13"
            />
            <img
              alt="Line143881"
              src="{% static 'line143881-2x9.svg' %}"
              class="reserve2-line14"
            />
            <img
              alt="Line153881"
              src="{% static 'line153881-gx9o.svg' %}"
              class="reserve2-line15"
            />
            <img
              alt="Line163881"
              src="{% static 'line163881-7k6z8.svg' %}"
              class="reserve2-line16"
            />
            <img
              alt="Line173881"
              src="{% static 'line173881-fe8.svg' %}"
              class="reserve2-line17"
            />
            <img
              alt="Line183881"
              src="{% static 'line183881-c6s.svg' %}"
              class="reserve2-line18"
            />
            <img
              alt="Line193881"
              src="{% static 'line193881-6qi.svg' %}"
              class="reserve2-line19"
            />
            <img
              alt="Line203881"
              src="{% static 'line203881-7qsb.svg' %}"
              class="reserve2-line20"
            />
            <img
              alt="Line213881"
              src="{% static 'line213881-yx6si.svg' %}"
              class="reserve2-line21"
            />
            <img
              alt="Line223881"
              src="{% static 'line223881-4o3b.svg' %}"
              class="reserve2-line22"
            />
            <img
              alt="Line233881"
              src="{% static 'line233881-ptbc.svg' %}"
              class="reserve2-line23"
            />
            <img
              alt="Line243881"
              src="{% static 'line243881-idzq.svg' %}"
              class="reserve2-line24"
            />
            <img
              alt="Line253881"
              src="{% static 'line253881-atmc.svg' %}"
              class="reserve2-line25"
            />
            <img
              alt="Line263881"
              src="{% static 'line263881-2vw.svg' %}"
              class="reserve2-line26"
            />
            <img
              alt="Line273881"
              src="{% static 'line273881-zia.svg' %}"
              class="reserve2-line27"
            />
            <img
              alt="Line283881"
              src="{% static 'line283881-5mdb.svg' %}"
              class="reserve2-line28"
            />
            <span class="reserve2-text111">
              <span>Time Slots: (2 hours max)</span>
            </span>
            <img
              alt="Line83881"
              src="{% static 'line83881-w22.svg' %}"
              class="reserve2-line8"
            />
            <span class="reserve2-text113"><span>8 AM</span></span>
            <span class="reserve2-text115"><span>9 AM</span></span>
            <span class="reserve2-text117"><span>10 AM</span></span>
            <span class="reserve2-text119"><span>11 AM</span></span>
            <span class="reserve2-text121"><span>12 PM</span></span>
            <span class="reserve2-text123"><span>7 PM</span></span>
            <span class="reserve2-text125"><span>8 PM</span></span>
            <span class="reserve2-text127"><span>9 PM</span></span>
            <span class="reserve2-text129"><span>10 PM</span></span>
            <span class="reserve2-text131"><span>11 PM</span></span>
            <span class="reserve2-text133"><span>12 AM</span></span>
            <span class="reserve2-text135"><span>1 AM</span></span>
            <span class="reserve2-text137"><span>2 AM</span></span>
            <span class="reserve2-text139"><span>3 AM</span></span>
            <span class="reserve2-text141"><span>3 PM</span></span>
            <span class="reserve2-text143"><span>4 PM</span></span>
            <span class="reserve2-text145"><span>5 PM</span></span>
            <span class="reserve2-text147"><span>6 PM</span></span>
            <span class="reserve2-text149"><span>1 PM</span></span>
            <span class="reserve2-text151"><span>2 PM</span></span>
            <div class="reserve2-availability">
              <span class="{% if ava == 'OPEN' %}open-text{% elif ava == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text153 "><span>{{ ava }}</span></span>
              <span class="{% if avb == 'OPEN' %}open-text{% elif avb == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text155"><span>{{ avb }}</span></span>
              <span class="{% if avc == 'OPEN' %}open-text{% elif avc == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text157"><span>{{ avc }}</span></span>
              <span class="{% if avd == 'OPEN' %}open-text{% elif avd == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text159"><span>{{ avd }}</span></span>
              <span class="{% if ave == 'OPEN' %}open-text{% elif ave == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text161"><span>{{ ave }}</span></span>
              <span class="{% if avf == 'OPEN' %}open-text{% elif avf == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text163"><span>{{ avf }}</span></span>
              <span class="{% if avg == 'OPEN' %}open-text{% elif avg == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text171"><span>{{ avg }}</span></span>
              <span class="{% if avh == 'OPEN' %}open-text{% elif avh == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text165"><span>{{ avh }}</span></span>
              <span class="{% if avi == 'OPEN' %}open-text{% elif avi == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text167"><span>{{ avi }}</span></span>
              <span class="{% if avj == 'OPEN' %}open-text{% elif avj == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text169"><span>{{ avj }}</span></span>
              <span class="{% if avk == 'OPEN' %}open-text{% elif avk == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text173"><span>{{ avk }}</span></span>
              <span class="{% if avl == 'OPEN' %}open-text{% elif avl == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text175"><span>{{ avl }}</span></span>
              <span class="{% if avm == 'OPEN' %}open-text{% elif avm == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text177"><span>{{ avm }}</span></span>
              <span class="{% if avn == 'OPEN' %}open-text{% elif avn == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text179"><span>{{ avn }}</span></span>
              <span class="{% if avo == 'OPEN' %}open-text{% elif avo == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text181"><span>{{ avo }}</span></span>
              <span class="{% if avp == 'OPEN' %}open-text{% elif avp == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text183"><span>{{ avp }}</span></span>
              <span class="{% if avq == 'OPEN' %}open-text{% elif avq == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text185"><span>{{ avq }}</span></span>
              <span class="{% if avr == 'OPEN' %}open-text{% elif avr == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text187"><span>{{ avr }}</span></span>
              <span class="{% if avs == 'OPEN' %}open-text{% elif avs == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text189"><span>{{ avs }}</span></span>
              <span class="{% if avt == 'OPEN' %}open-text{% elif avt == 'Booked' %}booked-text{% else %}unavailable-text{% endif %} reserve2-text191"><span>{{ avt }}</span></span>
            </div>
          </div>

          <form method="POST" action="">
            {% csrf_token %}
            <button class="reserve2-confirmbutton button" type="submit">
              <div class="reserve2-frame162605">
                <span class="reserve2-text193 HeadingsH3-Bold24">
                  <span>Confirm</span>
                </span>
                <div class="reserve2-vuesaxlineararrowright">
                  <img
                    alt="Vector4221"
                    src="{% static 'vector4221-4g8r.svg' %}"
                    class="reserve2-vector3"
                  />
                  <img
                    alt="Vector4221"
                    src="{% static 'vector4221-11ot.svg' %}"
                    class="reserve2-vector4"
                  />
                </div>
              </div>
            </button>
          </form>
          
          <div class="reserve2-time-window">
            <span class="reserve2-text195">
              <span>
                <span>Start: {{start}}</span>
                <br />
                <span>End: {{end}}</span>
              </span>
            </span>
            <img
              alt="Line294221"
              src="{% static 'line294221-2lo.svg' %}"
              class="reserve2-line29"
            />
            <span class="reserve2-text200"><span>Your Time Window:</span></span>
          </div>
          <div class="reserve2-start-time-selector">
            <img
              alt="Rectangle834221"
              src="{% static 'rectangle834221-n6x-200h.png' %}"
              class="reserve2-rectangle83 button"
            />

            <div class="dropdown">
              <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="reserve2-text202">
                  <span >Select Start Time</span>
                </span>
              </button>
              <ul class="dropdown-menu">
                {% for hour in open_room %}
                <li><a class="dropdown-item" href="{% url 'confirmation' %}?booking={{ room.room_id }}&start={{ hour }}">{{ hour }}</a></li>
                {% endfor %}
              </ul>
            </div>
            
            <div class="reserve2-start-date-options">
              <span class="reserve2-text204">
              </span>
              <span class="reserve2-text206">
              </span>
            </div>
          </div>
          
          <div class="reserve2-end-time-selector">
            <img
              alt="Rectangle834221"
              src="{% static 'rectangle834221-zypgk-200h.png' %}"
              class="reserve2-rectangle831 button"
            />

            <div class="dropdown">
              <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="reserve2-text208">
                  <span>Select End Time</span>
                </span>
              </button>
              <ul class="dropdown-menu">
                {% for end in ending_room %}
                <li><a class="dropdown-item" href="{% url 'confirmation' %}?booking={{ room.room_id }}&start={{ start }}&end={{ end }}">{{ end }}</a></li>
                {% endfor %}
              </ul>
            </div>
            
            <div class="reserve2-end-date-options">
              <span class="reserve2-text210">
              </span>
              <span class="reserve2-text212">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
