<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Reserve A Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <div>
      <link href="{% static 'reserve1.css' %}" rel="stylesheet" />

      <div class="reserve1-container">
        <div class="reserve1-reserve1">
          <div class="reserve1-searchbar">
            <div class="reserve1-group1 button">
              <span class="reserve1-text HeadingsH5-Bold18">
                <span>Change</span>
              </span>
            </div>
            <div class="reserve1-frame162633">
              <span class="reserve1-text002">
                <span>Current center: {{ center }}</span>
              </span>
            </div>
          </div>
          <img
            alt="Rectangle373037"
            src="{% static 'rectangle373037-65i-500w.png' %}"
            class="reserve1-rectangle37"
          />
          <div class="reserve1-filter-title">
            <div class="reserve1-filter">
              <div class="reserve1-vuesaxlinearfilter">
                <div class="reserve1-filter1">
                  <img
                    alt="VectorI303"
                    src="{% static 'vectori303-ff66.svg' %}"
                    class="reserve1-vector"
                  />
                  <img
                    alt="VectorI303"
                    src="{% static 'vectori303-8zj5.svg' %}"
                    class="reserve1-vector01"
                  />
                  <img alt="VectorI303" src="" class="reserve1-vector02" />
                </div>
              </div>
            </div>
            <span class="reserve1-text004"><span>Filters</span></span>
          </div>
          
          <span class="reserve1-text006">
            <span>Amenities</span>
            <br />
            <span></span>
            <span class="reserve1-text010"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Group Study
              </label>
            </div></span>

            <span class="reserve1-text012"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Individual Study
              </label>
            </div></span>

            <span class="reserve1-text014"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Library Spaces
              </label>
            </div></span>

            <span class="reserve1-text016"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Open Late
              </label>
            </div></span>

            <span class="reserve1-text018"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Public Computer
              </label>
            </div></span>

            <span class="reserve1-text020"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Quiet Study
              </label>
            </div></span>

            <span class="reserve1-text022"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                whiteboard
              </label>
            </div></span>

            <span class="reserve1-text024"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                TV
              </label>
            </div></span>

            <span class="reserve1-text026"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Power Outlet
              </label>
            </div></span>
          </span>
          
          <span class="reserve1-text027">
            <span>Libraries</span>
            <br />
            <span></span>
            <span class="reserve1-text031"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Multimedia Resources Center
              </label>
            </div></span>

            <span class="reserve1-text035"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Langson Library
              </label>
            </div></span>

            <span class="reserve1-text037"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Gateway Study Center
              </label>
            </div></span>

            <span class="reserve1-text039"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Science Library
              </label>
            </div></span>
          </span>
          
          <span class="reserve1-text040">
            <span>Equipment</span>
            <br />
            <span></span>
            <span class="reserve1-text044"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                3D Printer
              </label>
            </div></span>

            <span class="reserve1-text046"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                3D Scanner
              </label>
            </div></span>

            <span class="reserve1-text048"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Digital Display
              </label>
            </div></span>

            <span class="reserve1-text050"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Poster Printer
              </label>
            </div></span>

            <span class="reserve1-text052"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Printers
              </label>
            </div></span>

            <span class="reserve1-text054"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Scanners
              </label>
            </div></span>

          </span>
          <div class="box">
            <div id="slider" class="reserve1-slide5">
              <input class="reserve-slider" type="range" min="1" max="8" value="5">
              </div>
          </div>
          
          </div>
          <span class="reserve1-text055">
            1 person&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; 8 people
          </span>
          <span id="capacity" class="reserve1-current-selection">
            Selected: 5
          </span>
          <span class="reserve1-text056">
            <span class="reserve1-text057">
              <span>Capacity</span>
              <br />
              <span></span>
            </span>
            <span></span>
          </span>
          <span class="reserve1-text062">
            <span></span>
            <span>Reservation Window:</span>
            <br />
            <span class="reserve1-text066">{{current_month}} {{current_day}} - {{altered_month}} {{altered_day}}</span>
            <br />
          </span>
          <span class="reserve1-text068">
            <span>Day:</span>
            <br />
            <span></span>
            <span class="reserve1-text072"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ d1 }}
              </label>
            </div></span>

            <span class="reserve1-text074"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ d2 }}
              </label>
            </div></span>

            <span class="reserve1-text076"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ d3 }}
              </label>
            </div></span>

            <span class="reserve1-text078"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ d4 }}
              </label>
            </div></span>

            <span class="reserve1-text080"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ d5 }}
              </label>
            </div></span>

            <span class="reserve1-text082"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ d6 }}
              </label>
            </div></span>

            <span class="reserve1-text084"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ d7 }}
              </label>
            </div></span>

            <span class="reserve1-text086"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ d8 }}
              </label>
            </div></span>
          </span>

          
          <div class="reserve1-rooms">
            {% with rooms|index:0 as room %}
            <div class="reserve1-studyroom1">
              <img
                alt="SL17213541"
                src="{% static room.image %}"
                class="reserve1-sl1721"
              />
              <div class="reserve1-frame162756">
                <span class="reserve1-text105">
                  <span>{{room.location}} {{room.room_number}} (Capacity: {{room.room_size}})</span>
                </span>
                <span class="reserve1-text107">
                  <span>
                    {{room.room_desc}}
                  </span>
                </span>
              </div>
              
              <div class="reserve1-frame162607 button">
                <div class="reserve1-frame1626053">
                  <span class="reserve1-text109 HeadingsH5-Bold18">
                    <span>Reserve</span>
                  </span>
                  <div class="reserve1-vuesaxlineararrowright3">
                    <img
                      alt="Vector3871"
                      src="{% static 'vector3871-cbgc.svg' %}"
                      class="reserve1-vector09"
                    />
                    <img
                      alt="Vector3871"
                      src="{% static 'vector3871-jsll.svg' %}"
                      class="reserve1-vector10"
                    />
                  </div>
                </div>
              </div>
              {% endwith %}

              {% with rooms|index:1 as room %}
              {% if room %}
              <div class="reserve1-studyroom2">
                <img
                  alt="SL173April202213541"
                  src="{% static room.image %}"
                  class="reserve1-sl17-april20221"
                />
                <div class="reserve1-frame162757">
                  <span class="reserve1-text099">
                    <span>{{room.location}} {{room.room_number}} (Capacity: {{room.room_size}})</span>
                  </span>
                  <span class="reserve1-text101">
                    <span>
                      {{room.room_desc}}
                    </span>
                  </span>
              </div>
              <div class="reserve1-frame1627571 button">
                <div class="reserve1-frame1626052">
                  <span class="reserve1-text103 HeadingsH5-Bold18">
                    <span>Reserve</span>
                  </span>
                  <div class="reserve1-vuesaxlineararrowright2">
                    <img
                      alt="Vector3951"
                      src="{% static 'vector3951-azzn.svg' %}"
                      class="reserve1-vector07"
                    />
                    <img
                      alt="Vector3951"
                      src="{% static 'vector3951-p6s.svg' %}"
                      class="reserve1-vector08"
                    />
                  </div>
                </div>
              </div>
              {% endif %}
              {% endwith %}

              {% with rooms|index:2 as room %}
              {% if room %}
              <div class="reserve1-studyroom3">
                <img
                  alt="SL174SPq2022013541"
                  src="{% static room.image %}"
                  class="reserve1-sl174-pq202201"
                />
                <div class="reserve1-frame162758">
                  <span class="reserve1-text093">
                    <span>{{room.location}} {{room.room_number}} (Capacity: {{room.room_size}})</span>
                  </span>
                  <span class="reserve1-text095">
                    <span>
                      {{room.room_desc}}
                    </span>
                  </span>
              </div>

              <div class="reserve1-frame1627581 button">
                <div class="reserve1-frame1626051">
                  <span class="reserve1-text097 HeadingsH5-Bold18">
                    <span>Reserve</span>
                  </span>
                  <div class="reserve1-vuesaxlineararrowright1">
                    <img
                      alt="Vector3951"
                      src="{% static 'vector3951-j7o.svg' %}"
                      class="reserve1-vector05"
                    />
                    <img
                      alt="Vector3951"
                      src="{% static 'vector3951-52td.svg' %}"
                      class="reserve1-vector06"
                    />
                  </div>
                </div>
              </div>
              {% endif %}
              {% endwith %}

              {% with rooms|index:3 as room %}
              {% if room %}
              <div class="reserve1-studyroom4">
                <img
                  alt="SL175SQ202213541"
                  src="{% static room.image %}"
                  class="reserve1-sl175sq20221"
                />
              <div class="reserve1-frame162759">
                <span class="reserve1-text087">
                  <span>{{room.location}} {{room.room_number}} (Capacity: {{room.room_size}})</span>
                </span>
                <span class="reserve1-text089">
                  <span>
                    {{room.room_desc}}
                  </span>
                </span>
              </div>

              <div class="reserve1-frame1627591 button">
                <div class="reserve1-frame162605">
                  <span class="reserve1-text091 HeadingsH5-Bold18">
                    <span>Reserve</span>
                  </span>
                  <div class="reserve1-vuesaxlineararrowright">
                    <img
                      alt="Vector3951"
                      src="{% static 'vector3951-j5a.svg' %}"
                      class="reserve1-vector03"
                    />
                    <img
                      alt="Vector3951"
                      src="{% static 'vector3951-vta.svg' %}"
                      class="reserve1-vector04"
                    />
                  </div>
                </div>
              </div>
              {% endif %}
              {% endwith %}


            </div>
            </div>    
            </div>
            </div>
          </div>
          <div class="reserve1-resultsforcenter">
            <span class="reserve1-text111 HeadingsH2-Bold44">
              <span>Results for center</span>
            </span>
            <div class="reserve1-frame162691">
              <span class="reserve1-text113 HeadingsH6-Bold16">{{ result_count }}</span>
            </div>
          </div>
          <div class="reserve1-page-selector">
            <div class="reserve1-frame1626331">
              <div class="reserve1-arrowright">
                <div class="reserve1-vuesaxlineararrowright4">
                </div>
              </div>
            </div>
            <div class="reserve1-frame162631">

              <nav aria-label="Page navigation">
                <ul class="pagination reserve-paginator">
                  <li class="page-item">
                    {% if rooms.has_previous %}
                    <a class="page-link" href="?page=1" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                    {% endif %}
                  </li>
                  {% for pages in rooms.paginator.page_range %}
                  <li class="page-item"><a class="page-link" href="?page={{ pages }}">{{ pages }}</a></li>
                  {% endfor %}

                  <li class="page-item">
                    {% if rooms.has_next %}
                    <a class="page-link" href="?page={{ rooms.paginator.num_pages }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% endif %}
                  </li>
                </ul>
              </nav>

            </div>
            
            {% if rooms.has_previous %}
              <a href="?page=1"></a>
              <a href="?page={{rooms.previous_page_number}}"></a>
            {% endif %}

            {% if rooms.has_next %}
              <a href="?page={{ rooms.next_page_number }}"></a>
              <a href="?page={{ rooms.paginator.num_pages }}"></a>
            {% endif %}

            <div class="reserve1-frame1626321">
              <div class="reserve1-arrowright2">
                <div class="reserve1-vuesaxlineararrowright5">
                </div>
              </div>
            </div>
          </div>
          <span class="reserve1-text121"><span>Reserve</span></span>
          <span class="reserve1-text123">
            <span>
              Filter accommodations and schedule a time slot for your desired
              study room
            </span>
          </span>
          <div class="reserve1-footerreserve1">
            <img
              alt="ucilogo23167"
              src="{% static 'ucilogo23167-ig0t-200h.png' %}"
              class="reserve1-ucilogo2"
            />
            <img
              alt="UCIprimarylogoprintblue13167"
              src="{% static 'uciprimarylogoprintblue13167-8at-200h.png' %}"
              class="reserve1-u-iprimarylogoprintblue1"
            />
            <span class="reserve1-text125"><span>Roomie</span></span>
            <span class="reserve1-text127">
              <span>
                <span>University of California, Irvine</span>
                <br />
                <span>CA 92697</span>
                <br />
                <span>(949) 824-5011</span>
                <br />
                <span></span>
                <br />
                <span></span>
              </span>
            </span>
            <img
              alt="Line23167"
              src="{% static 'line23167-bj9g.svg' %}"
              class="reserve1-line2"
            />
            <span class="reserve1-text138">
              <span class="reserve1-text139">Disclaimer:</span>
              <span>
                This web page is not an official UCI web page. It is a project
                from the 2023 VenusHacks hackathon. No harm to UCI and its
                affiliates were intended in the creation of this website.
              </span>
            </span>
            <span class="reserve1-text141">
              <span>UCI Libraries</span>
              <br />
              <span class="reserve1-text144">
                Hours of different libraries will vary
              </span>
              <br />
            </span>
          </div>
          <div class="reserve1-navbar">
            <div class="reserve1-user">
              <div class="reserve1-vuesaxlinearuser">
                <div class="reserve1-user1">
                  <img
                    alt="VectorI321"
                    src="{% static 'vectori321-yzf8.svg' %}"
                    class="reserve1-vector15"
                  />
                  <img
                    alt="VectorI321"
                    src="{% static 'vectori321-e81.svg' %}"
                    class="reserve1-vector16"
                  />
                  <a href="{% url 'account' %}" class="reserve1-navlink">
                    <img alt="VectorI321" src="" class="reserve1-vector17" />
                  </a>
                </div>
              </div>
            </div>
            <div class="reserve1-navbaricon">
              <a href="{% url 'home' %}" class="reserve1-navlink1">
                <div class="reserve1-logo-home">
                  <img
                    alt="UCIprimarylogoprintblue13218"
                    src="{% static 'uciprimarylogoprintblue13218-o3x9h-200h.png' %}"
                    class="reserve1-u-iprimarylogoprintblue11"
                  />
                  <span class="reserve1-text146"><span>Roomie</span></span>
                </div>
              </a>
            </div>
            <a href="{% url 'reserve' %}" class="reserve1-text148">
              <span>Reserve</span>
            </a>
            <a href="/my-rooms/{{user}}/" class="reserve1-text150">
              <span>My Rooms</span>
            </a>
            <a href="{% url 'about' %}"" class="reserve1-text152"><span>About</span></a>
            <img
              alt="Line32481"
              src="{% static 'line32481-fsied.svg' %}"
              class="reserve1-line3"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
