:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-default-text: rgba(51, 51, 51, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-color-light-primary: rgba(51, 51, 51, 1);
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-light-secondary: rgba(102, 102, 102, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-default-linecolor: rgba(243, 243, 243, 1);
  --dl-color-default-maincolor: rgba(63, 66, 151, 1);
  --dl-color-default-textcolor: rgba(21, 20, 17, 1);
  --dl-color-default-screencolor: rgba(255, 255, 255, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-default-paragraphcolor: rgba(174, 173, 180, 1);
  --dl-color-default-secondarycolor: rgba(255, 178, 62, 1);
  --dl-color-default-placeholdercolor: rgba(249, 249, 249, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.container {
  top: 319px;
  left: 0px;
  width: 5843px;
  height: 500px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.HeadingsH3\+-Bold26 {
  font-size: 26px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadingsH2-Bold44 {
  font-size: 44px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.ParagraphP4-12Medium {
  font-size: 12px;
  font-style: normal;
  font-family: Encode Sans Semi Expanded;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadingsH6-Bold16 {
  font-size: 16px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.HeadingsH4-Bold20 {
  font-size: 20px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadingsH5-Bold18 {
  font-size: 18px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.ParagraphP1-14Medium {
  font-size: 14px;
  font-style: normal;
  font-family: Encode Sans Semi Expanded;
  font-weight: 500px;
  font-stretch: normal;
}
.ParagraphP2-16Medium {
  font-size: 16px;
  font-style: normal;
  font-family: Encode Sans Semi Expanded;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadingsH1-Bold64 {
  font-size: 64px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.LabelL1-12Bold {
  font-size: 12px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadingsH3-Bold24 {
  font-size: 24px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.ParagraphP3-18Medium {
  font-size: 18px;
  font-style: normal;
  font-family: Encode Sans Semi Expanded;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadingsH6\+-Bold14 {
  font-size: 14px;
  font-style: normal;
  font-family: Encode Sans Semi Condensed;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}




