@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    overflow:hidden;
}

.navbar {
   background:rgb(240, 240, 240);
   font-family: 'calibri';
   padding: 10px 20px 10px 15px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-logo {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.logo a{
    float:left;
    padding-left: 1vw;
    font-size: 
    30px;
    color:black;
    text-decoration: none;
}
.logo a:hover {
    color:#1e81b0;
    transition: transform 0.3s ease-in-out;
    text-decoration: underline;
}
li {
    list-style: none;
    display: inline-block;
}
li a {
    color:black;
    font-size: 25px;
    margin-right: 35px;
    font-weight:400;
    text-decoration: none;
    cursor:pointer;
}
li a:hover {
    color:#1c698d;
    transition: 0.1s ease-in-out;
    text-decoration: underline;
}
.icon {
    align-items: center;
    justify-content: center;
    color:black;
}

.icon:hover {
    color:#1c698d;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/* entire canvas */
body {
    margin:0;
}

h4 {
    margin: 10px
}

/* button location */
.carousel{
    width: 7%;
    height: 1080px;
    bottom: 0;
    text-align: center;
    padding-top: 120px;
    box-sizing: border-box;
}


/* }remove top padding */
.carousel > ul {
    list-style: none;
}

/* image styling */
.slide{
    position:absolute;
    object-position: center;
    opacity:0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    width: 1440px;
    height: auto;
}

.slide[data-active]{
    opacity: 1;
    z-index: 0;
    transition-delay: 0;
}

.slide > img{
    display: block;
    width: 1440px;
    height: 740px;
    padding-left: 40px;
}

.container .buttons {
    position: absolute;
    top: 40%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1440px;
    opacity: 1;
    padding: 20px;
    margin: 20px;
}

/* button styling without hover */
.carousel-button {
    background: none;
    font-size: 4rem;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, .7);
}

/* hover style */
.carousel-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}
/* hover effect */
.carousel-button:hover {
    outline: 1px solid black;
}
.carousel-button.prev {
    left: 2rem;
}
.carousel-button.next {
    right: 2rem;
    margin-left: 90%;
}

/* policies popup */
.popup {
    width: 700px;
    background-color: white;
    position:absolute;
    border-radius: 6px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    top: 15%;
    left: 25%;
    padding: 30px 30px 20px;
    visibility:hidden;
    font-size: 18px;
    border-radius: 4px;
}
.popup button {
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}
.open-popup {
    visibility: visible;
}

