*{
  margin:0;
  padding:0;
}
.main{
  height:100%;
  width:100%;
  background-image: linear-gradient(center, #010280,#061993,#0C3BAA,#135CC5,#1973D1);
  position:absolute
}
.form-box{
  width: 380px;
  height: 480px;
  position:relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;

}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;

}
.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  
}
#btn{
top: 0;
left: 0;
position: absolute;
width: 110px;
height: 100%;
background: linear-gradient(to right, #FFC000	,rgb(170, 131, 15)	
);
border-radius: 30px;
transition: .5s;
}
